$color-black: rgba(0, 0, 0, 0);
$color-white: hsl(0, 0%, 100%);
$color-primary-Light: hsl(212, 45%, 89%);
$color-primary-medium: hsl(220, 15%, 55%);
$color-primary-Dark: hsl(218, 44%, 22%);
$color-footer: hsl(228, 45%, 44%);
$font-family: "Outfit", sans-serif;
